@charset "UTF-8";

/* ================================================ 헤더 ================================================ */

* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	color: black;
	border-collapse: collapse;
	font-family: 'Noto Sans KR', sans-serif;
}

@media ( max-width: 768px ) {
  * { color: red; }
  #header {
     width: auto;
   }
}

#header {
	width: 100%;
	height: 100px;
	background-color: #142336;
}

.header_con {
	width: 1280px;
	margin: auto;
	line-height: 100px;
}

.header_con .ul1 {
	float: left;
}

.header_con .ul1 li {
	width: 300px;
	display: inline-block; 
}

.header_con .ul1 li a {
	color: #fff;
}

.header_con .ul2 {
	text-align: center;
}

.header_con .ul2 li {
	float:left;
	width:150px;
	position:relative;
}

.header_con .ul2 li a {
	color: #fff;
}

.header_con .ul2 li ul {
	display: none;
	/* 하위 메뉴 높이 조절 */
	height: 120px;
	/* 하위 메뉴 칸 높이 조절 */
	line-height: 50px;
	border: 1px solid #ccc;
}

.header_con .ul2 li ul li {
	height: 50px;
}

.header_con .ul3 {
	float: right;
}

.header_con .ul3 li {
	width: 100px;
	display: inline-block; 
}

.header_con .ul3 li a {
	color: #fff; 
}

#header_line {
	width: 100%;
	height: 50px;
	background-color: #eee;
	margin-bottom: 50px;
}

/* ================================================ 클라이언트 로그인 ================================================ */

#loginFrom {
	width: 100%;
}

.loginForm_con {
	width: 800px;
	margin: auto;
	text-align: center;
}

.loginForm_con1 h1 {
	font-size: 40px;
	margin-bottom: 5px;
}

.loginForm_con1 h2 {
	color: #757575;
	font-size: 20px;
	margin-bottom: 50px;
}

.loginForm_con2 {
	width: 800px;
	margin: auto;
	height: 500px;
	border: 1px solid #ccc;
	background-color: #eee;
}

.loginForm_con2 h3 {
	margin-top: 60px;
	color: #222;
	width: 515px;
	margin: 60px auto 0px auto;
	text-align: left;
	font-weight: normal;
}

.loginForm_con3 p {
	text-align: left;
	margin-top: 20px;
}

.loginForm_con3 a {
	border: 1px solid #ccc;
	margin-left: 20px;
	padding: 8px 20px;
}

.login_txt1 {
	text-align: center;
	border: none;
	margin-top: 30px;
}

.login_txt1 input {
	padding: 30px 300px 30px 30px;
	background-color: transparent;
	border : 1px solid #ccc;
}

.login_txt2 {
	text-align: center;
	border: none;
	margin-top: 10px;
}

.login_txt2 input {
	padding: 30px 300px 30px 30px;
	background-color: transparent;
	border : 1px solid #ccc;
}

.login_txt3 {
	text-align: center;
	border: none;
	margin-top: 10px;
}

.login_txt3 input {
	padding: 30px 300px 30px 30px;
	background-color: transparent;
	border : 1px solid #ccc;
}

.login_txt3 label {
	margin-right: 240px;
}

.login_txt4 {
	text-align: center;
	border: none;
	margin-top: 10px;
}

.login_txt4 .login_but {
	padding: 30px 225px;
	cursor: pointer;
	text-align: center;
	background-color: #014b99;
	color: white;
	font-weight: bold;
	line-height: 1;
	font-size: 22px;
	border: 1px solid #ccc;
}

/* ================================================ 클라이언트 회원가입 ================================================ */

#signUp1 {
	width: 100%;
}

.signUp1_con {
	width: 1280px;
	margin: auto;
	text-align: center;
}

.signUp1_head h1 {
	font-size: 40px;
	margin-bottom: 5px;
}

.signUp1_head h2 {
	color: #757575;
	font-size: 20px;
	margin-bottom: 50px;
}

.signUp1_head table {
	margin-top: 30px;
	width: 1280px;
	margin: auto;
	text-align: center;
	border: 1px solid #ccc;
}

.signUp1_head table tr th {
	padding: 20px;
	border: 1px solid #ccc;
}

.signUp1_con h3, .check_area{
	text-align: left;
}

.signUp1_con h3{
	margin-top: 50px;
	margin-bottom: 10px;
}

.signUp1_con .check_area{
	margin-top: 10px;
	margin-bottom: 50px;
}

.signUp_content{
	 height: 200px;
	 border: 1px solid #ccc;
	 padding: 5px;
	 overflow-y: auto;
	 text-align: left;
}

.signUp1_tab1 {
	border: 1px solid #ccc;
}

.signUp1_tab1 tr th {
	border: 1px solid #ccc;
	padding: 10px;
	background-color: #eee;
}

.signUp1_tab1 tr td {
	border: 1px solid #ccc;
	padding: 30px;
}

.signUp1_allCheck {
	 height: 100px;
	 border: 1px solid #ccc;
	 line-height: 100px;
	 background-color: #eee;
}

.signUp1_but {
	margin-top: 50px;
	text-align: center;
}

.signUp1_but input:first-child {
	padding: 20px 60px;
	background-color: #014b99;
	color: #fff;
	margin-right: 3px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 22px;
}

.signUp1_but input:last-child {
	padding: 20px 60px;
	background-color: #fff;
	margin-left: 3px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 22px;
}

.signUp2_smsTable {
	width: 1280px;
	height: 300px;
}

.signUp2_smsTable table {
	border: 1px solid #e0e0e0;
	border-top: 3px solid #000;
	height: 300px;
	width: 1280px;
	text-align: left;
}

.signUp2_smsTable table tr {
	border: 1px solid #e0e0e0;
}

.signUp2_smsTable table tr th {
	border: 1px solid #e0e0e0;
	background-color: #eee;
	padding: 20px;
}

.signUp2_smsTable table tr td input {
	padding: 30px 50px;
	margin-left: 10px;
}

/* ================================================ 메인 배너 ================================================ */
#mainPage {
	width: 100%;
}

.mainPage_con {
	width: 1280px;
	margin: auto;
}

.slide1 {background: red;}
.slide2 {background: blue;}
.slide3 {background: green;}
.slide4 {background: purple;}
.slide5 {background: pink;}
.slide6 {background: #757575;}

.mainPage_banner {
	width: 1280px;
	height: 500px;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.mainPage_banners {
	width: 8960px; /* 전체 슬라이드 너비 (266px * 7) */
	position: absolute;
	transition: left 0.5s ease-in-out;
}

.mainPage_banners li {
	float: left;
	width: 1280px;
	height: 500px;
}

.mainPage_banners img {
	width: 100%;
	height: 100%;
}

#slider-nav {
	text-align: center;
}

.slider-nav-dot {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 0 0px;
	cursor: pointer;
}

.slider-nav-dot.active {
	background: white;
}

#slider-nav {
	position:absolute;
	height:2em;
	bottom:0em;
	width:100%;
	cursor:default;
}

#slider-nav-prv {
	height:1.5em;
	line-height:1.5em;
	width:1.5em;
	text-align:center;
	position:absolute;
	left:0.5em;
	background:white;
}

#slider-nav-nxt {
	height:1.5em;
	line-height:1.5em;
	width:1.5em;
	text-align:center;
	position:absolute;
	right:0.5em;
	background:white;
}

#slider-nav-prv:hover, #slider-nav-nxt:hover {
	color:white;
	background:black;
}

#slider-nav-dot-con {
	text-align:center;
}

.slider-nav-dot {
	list-style:none;
	border: 0.15em solid white;
	box-sizing:border-box;
	width:1em;
	height:1em;
	display:inline-block;
	border-radius:50%;
	vertical-align:middle;
}

.slider-nav-dot:hover {
	background:white;
}

/* ================================================ footer ================================================ */

#footer_line {
	width: 100%;
	height: 50px;
	background-color: #eee;
	margin-top: 50px;
}

#footer {
	width: 100%;
	height: 100px;
	background-color: #142336;
}

.footer_con {
	width: 1280px;
	margin: auto;
	line-height: 100px;
}

.footer_con .ul1 li {
	float: left;
	margin-right: 350px;
}

.footer_con .ul2 li {
	float: left;
	margin: 0px 30px;
}

.footer_con .ul3 li {
	float: right;
	margin: 0px 30px;
}
